.home__image-box {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 24px;
}

.home__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.home__title-box {
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #62ae62;
  z-index: 1;
  text-align: center;
  width: 100%;
  padding: 15px 20px;
}

@media (max-width: 395.9px) {
  .home__title-box {
    padding: 10px 10px;
  }
}

.home__title {
  color: #ffffff;
  font-size: 48px;
 

}

@media(min-width: 302px) and (max-width: 359px) {
  .home__title {
    width: 75%;
    margin: 0 auto;
  }
}

@media (max-width: 395.9px) {
  .home__title {
    font-size: 14px;
  }
}

@media (min-width: 396px) {
  .home__title {
    font-size: 14px;
  }
}

@media (min-width: 425px) {
  .home__title {
    font-size: 16px;
  }
}

@media (min-width: 548px) {
  .home__title {
    font-size: 20px;
  }
}

@media (min-width: 648px) {
  .home__title {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .home__title {
    font-size: 30px;
  }
}

@media (min-width: 1158px) {
  .home__title {
    font-size: 48px;
  }
}